In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:/Users/BTK/Desktop/Eric/Git/data-solution-airflow/datalake/landing/new_ohlc_ibov_1D/NEW_OHLC_1D_ABEV3_BOV_T.csv')

In [4]:
df

     <DATE>_<TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <TICK>     <VOL>  <VFL>
0       2017-01-02   16.34   16.66  16.26    16.31    9420   4265100      0
1       2017-01-03   16.50   16.67  16.44    16.64   17890   9535500      0
2       2017-01-04   16.66   16.66  16.43    16.51   12262   9426500      1
3       2017-01-05   16.52   16.75  16.48    16.60   16549  11555800      0
4       2017-01-06   16.59   16.64  16.36    16.46   18978   7863200      1
...            ...     ...     ...    ...      ...     ...       ...    ...
1106    2021-06-24   18.10   18.10  17.72    17.97   37322  21592700      1
1107    2021-06-25   17.83   18.00  16.91    16.95   53102  66198100      1
1108    2021-06-28   17.17   17.65  17.00    17.46   52477  41325600      0
1109    2021-06-29   17.35   17.50  16.90    17.25   44642  46943000      1
1110    2021-06-30   17.15   17.46  17.02    17.08   36970  28949400      1

[1111 rows x 8 columns]

In [1]:
from sklearn.feature_selection import SelectKBest

In [2]:
SelectKBest?

Init signature: SelectKBest(score_func=<function f_classif at 0x00000293C67D51F0>, *, k=10)
Docstring:
Select features according to the k highest scores.

Read more in the :ref:`User Guide <univariate_feature_selection>`.

Parameters
----------
score_func : callable, default=f_classif
    Function taking two arrays X and y, and returning a pair of arrays
    (scores, pvalues) or a single array with scores.
    Default is f_classif (see below "See Also"). The default function only
    works with classification tasks.

    .. versionadded:: 0.18

k : int or "all", default=10
    Number of top features to select.
    The "all" option bypasses selection, for use in a parameter search.

Attributes
----------
scores_ : array-like of shape (n_features,)
    Scores of features.

pvalues_ : array-like of shape (n_features,)
    p-values of feature scores, None if `score_func` returned only scores.

Examples
--------
>>> from sklearn.datasets import load_digits
>>> from sklearn.feature_selection import SelectKBest, chi2
>>> X, y = load_digits(return_X_y=True)
>>> X.shape
(1797, 64)
>>> X_new = SelectKBest(chi2, k=20).fit_transform(X, y)
>>> X_new.shape
(1797, 20)

Notes
-----
Ties between features with equal scores will be broken in an unspecified
way.

See Also
--------
f_classif : ANOVA F-value between label/feature for classification tasks.
mutual_info_classif : Mutual information for a discrete target.
chi2 : Chi-squared stats of non-negative features for classification tasks.
f_regression : F-value between label/feature for regression tasks.
mutual_info_regression : Mutual information for a continuous target.
SelectPercentile : Select features based on percentile of the highest
    scores.
SelectFpr : Select features based on a false positive rate test.
SelectFdr : Select features based on an estimated false discovery rate.
SelectFwe : Select features based on family-wise error rate.
GenericUnivariateSelect : Univariate feature selector with configurable
    mode.
File:           c:\users\btk\anaconda3\envs\ml_env\lib\site-packages\sklearn\feature_selection\_univariate_selection.py
Type:           ABCMeta
Subclasses: